.social-icon{
  @extend %margin-0-padding-0;
  display: flex;
  justify-content: space-between;
}

.social-icon__img{
  width: 26px;
  height: 26px;
  fill: $icons-outline-color;
  @include transition(fill);
}

.social-icon__link{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1px;
  margin-left: 1px;
  width: 55px;
  height: 56px;
  background: $outline-color;
  @include transition(background);

  &:hover{
    background-color: $icons-outline-color;
    @include transition(background);
  }

  &:hover svg{
    fill: $headers-light-color;
    @include transition(fill);
  }
}

