.social-icons__list{
  position: absolute;
  top: 208px;
  left: 78px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-icons__background{
  position: absolute;
  z-index: 1;
  width: 380px;
  height: 470px;
  background: $gradient;
  transform: translate(-10px, -10px);
  opacity: 0;
  @include transition(transform);
  @include transition(opacity);
}
