.email-button{
  margin: 0;
  padding: 12px 32px;
  float: left;
  font-family: $header-font;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  color: $headers-light-color;
  text-transform: uppercase;
  background-color: $icons-color;
  border: none;
}
