html {
  min-width: 1110px;
}
body {
  font-family: "Roboto", sans-serif;
  background-image: url(../img/slide4.jpg);
  background-position: 50% 80px;
  background-size: 1600px 600px;
  background-repeat: no-repeat;
  overflow-x: hidden;
}
.container{
  margin: 0 auto;
  width: 1110px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
/* header */
.main-header{
  margin-bottom: 0px;
}
.main-header-box{
  max-width: 100%;
}
.logo-link{
  float: left;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.main-logo{
  margin: 0;
  padding: 23px 0;
  font-size: 30px;
  line-height: 32px;
  color: #555252;
  font-weight: 400;
  letter-spacing: -0.6px;
  text-transform: uppercase;
}
.logo-link::first-letter{
  color: #1abc9c;
  font-weight: 700;
}
.main-nav{
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav-item{
  float: left;
  margin-right: 32px;
  padding: 28px 0;
  display: inline-block;
}
.main-nav-item:last-child{
  margin-right: 0px;
}
.main-nav-link{
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 11px;
  color: #0f0101;
  font-weight: 700;
  letter-spacing: -0.28px;
  text-decoration: none;
  text-transform: uppercase;
}
.main-nav-link:hover{
  color: #1abc9c;
}
.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.tours-box{
  position: absolute;
  top: 85px;
  left: 50%; 
  transform: translate(-50%, 0%);
  width: 1110px;
  max-width: 100%;
}
.background{
  max-width: 100%;
  height: 600px;
  background-color: #000002;
  opacity: 0.522;
}
.tours-box-content{
  position: absolute;
  width: 1110px;
}
.previous-tour, .next-tour{
  position: absolute;
  top: 225px;
  opacity: 0.65;
  cursor: pointer;
}
.next-tour{
  right: 0%;
}
.next-tour:hover, .previous-tour:hover{
  opacity: 1;
}
.tour-name{
  position: absolute;
  z-index: 2;
  top: 137px;
  left: 190px;
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  line-height: 82px;
  color: #ffffff;
  font-weight: 900;
  letter-spacing: -1.2px;
  text-transform: uppercase;
}
.tour-offers{
  position: absolute;
  z-index: 2;
  top: 280px;
  left: 185px;
}
.tour-offer{
  font-size: 24px;
  line-height: 54px;
  color: #ffffff;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: -0.48px;
  text-decoration: none;
}
.products {
  background-color: #e9f0fd;
}
.section-title{
  position: relative;
  display: block;
  float: left;
  margin-top: 104px;
  margin-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 100%;
  font-size: 48px;
  line-height: 32px;
  letter-spacing: -0.96px;
  text-align: center;
  color: #515151;
  font-weight: 600;
  text-transform: uppercase;
}
.section-title::after{
  position: absolute;
  top: 66px;
  left: 50%;
  transform: translateX(-50%);
  width: 165px;
  height: 8px;
  background: #1abc9c;
  content: "";
  clear: both;
  display: table;
}
.products-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.product {
  position: relative;
  float: left;
  width: 255px;
  margin-right: 30px;
  margin-bottom: 96px;
}
.product:last-child {
  margin-right: 0px;
}
.product-link {
  text-decoration: none;
}
.product-price-box{
  position: absolute;
  left: 0;
  bottom: 4px;
  width: 255px;
}
.product-name {
  position: absolute;
  left: 0px;
  bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 200px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 900;
  text-indent: 12px; 
  letter-spacing: -0.36px;
  color: #ffffff;
  background: #323232;
  text-transform: uppercase;
}
.product-price {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 55px;
  font-size: 18px;
  line-height: 32px;
  text-indent: 12px; 
  letter-spacing: -0.36px;
  background: #323232;
  opacity: 0.439;
  color: #ffffff;
  text-transform: uppercase;
}
.product:hover .product-name{
  background: #1abc9c;
}
.product:hover .product-price{
  background: #1abc9c;
}
.cart-block{
  opacity: 0;
}
.product:hover .cart-block {
  opacity: 1;
}
.cart-block-background {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 235px;
  height: 261px;
  background-color: #000000;
  opacity: 0.549;
}
.cart-list{
  position: absolute;
  top: 0;
  list-style: none;
}
.cart-block-item{
  position: absolute;
}
.cart-block-item:nth-child(1){
  top: 89px;
  left: 45px;
  width: 50px;
  height: 50px;
}
.cart-block-item:nth-child(2){
  top: 89px;
  left: 104px;
  width: 50px;
  height: 50px;
}
.cart-block-item:nth-child(3){
  top: 89px;
  left: 161px;
  width: 50px;
  height: 50px;
}
.cart-block-item:nth-child(4){
  top: 147px;
  left: 45px;
  width: 166px;
  height: 50px;
  background-image: url(../img/cart-button.png);
  background-color: #323232;
}
.cart-block-item:hover{
  background-color: #1abc9c;
}
.cart-button{
  position: absolute;
  top: 9px;
  left: 59px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: -0.28px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}
/* footer   */
.main-footer{
  background-color: #323232;
}
.main-footer-copyight-box{
  width: 100%;
}
.main-footer-text{
  text-align: center;
}
.main-footer-copyight{
  display: inline-block;
  margin: 0;
  padding: 30px 0;
  font-size: 16px;
  letter-spacing: -0.32px;
  font-family: "Open Sans", sans-serif;
  color: #fefefe;
  line-height: 28px;
  letter-spacing: -0.32px;
  text-decoration: none;
}
.designer-link{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.designer{
  margin: 0;
  padding: 0;
  display: inline-block;
  color: #46bfa9;
}
