// fonts
$header-font: 'Montserrat',  sans-serif;
$header-intro-font: 'Kaushan Script', cursive;
$text-font: 'Roboto',  sans-serif;
// colors
$text-color: #999999;
$headers-light-color: rgb(255, 255, 255);
$headers-dark-color: #333333;
$icons-color: rgb(149, 225, 211);
$icons-outline-color: #f38181;
$outline-color: rgb(252, 227, 138);
$gradient: linear-gradient(to top, rgba(238, 215, 138,0.9), rgba(232, 130, 130, 0.9));
$input-border-color: #e7e7e7;
$input-placeholder-color: #cccccc;
$footer-outline-color: #e5e5e5;
