*{
  margin: 0;
  padding: 0;
}
body {
  font-family: "Playfair Display";
  font-size: 14px;
  line-height: 17px;
  color: #626262;
}
.main-content {
  display: block;
  box-sizing: border-box;
  margin: auto;
  width: 960px;
}
.main-navigation {
  padding-top: 74px;
  margin-bottom: 100px;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  text-align: center;
}
.navigation-item {
  display: inline-block;
  margin-left: 60px;
  margin-right: 60px;
}
.navigation-link {
  color: #626262;
  text-decoration: none;
}
.navigation-link:hover {
  color: #03a9f4;
}
.main-content__article {
  display: inline-block;
  width: 410px;
  margin-left: 30px;
  margin-right: 36px;
  margin-bottom: 110px;
}
.lifestyle-1 {
  margin-bottom: 129px;
}
.article-photo {
  margin-bottom: 25px;
}
.article-category {
  margin-bottom: 19px;
  font-family: "Ubuntu";
  text-transform: uppercase;
  color: #b4ad9e;
}
.article-title {
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 36px;
}
.article-text {
  line-height: 24px;
  text-align: left;
  text-align-last: justify;
}
.photodiary-1 {
  margin-bottom: 134px;
}
.lifestyle-3, .lifestyle-4{
  margin-bottom: 49px;
}
.button-container {
  margin-bottom: 71px;
  text-align: center;
}
.load-more-button {
  padding-top: 17px;
  padding-right: 32px;
  padding-bottom: 17px;
  padding-left: 32px;
  font-family: "Playfair Display";
  font-size: 20px;
  line-height: 24px;
  color: #626262;
  border-color: #626262;
  border-style: solid;
  background-color: #ffffff;
  border-radius:  0px;
  border-width: 1px;
}
