.learn-more-button{
  display: block;
  margin: 0 auto;
  padding: 8px 28px;
  font-family: $header-font;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: $headers-light-color;
  border-style: solid;
  border-width: 3px;
  border-color: $headers-light-color;
  @include transition(border-color);
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;

  &:hover, &:focus{
    border-color: $outline-color;
    @include transition(border-color);
  }
}
