.team-list{
  display: flex;
  justify-content: space-between;
}

.team-list__item {
  width: 380px;
}

.team-list__item:hover .team-member__img{
  transform: translate(-10px, -10px);
  box-shadow: 10px 10px 0 $icons-color;
  opacity: 1;
  background: $gradient;
  @include transition(transform);
  @include transition(box-shadow);
}

.team-list__item:hover .social-icons__background{
  opacity: 1;
  @include transition(opacity);
}
